:root {
  --yellow: #ffec99;
  --grey-main: #555;
  --grey-secondary: #55555540;
  --grey-tertiary: rgba(85, 85, 85, 0.3);
  --black: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--grey-main);
  background-color: var(--yellow);
}

.button {
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  color: var(--yellow);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--grey-main);
  cursor: pointer;

  transition: all 200ms;
}

.button:hover,
.button:active {
  box-shadow: 0 0 10px 2px var(--grey-tertiary);
}

.hidden {
  display: none;
}

/* HEADER */

.header {
  margin-bottom: 48px;
}

.wrapper-header {
  max-width: 1200px;
  margin: 0 auto;

  padding: 48px 0 16px;
  border-bottom: 2px solid var(--grey-secondary);
}

.header__title {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

/* MAIN */

.main {
  margin-bottom: 48px;
}

.wrapper-main {
  max-width: 960px;
  margin: 0 auto;

  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 32px;
}

/* GAME STATE INFO */

.game-state-info__text {
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
}

/* PLAYGROUND */

.playground {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}

.playground__cell-container,
.playground__cell {
  width: 192px;
  height: 192px;
  cursor: pointer;
}

.playground__cell {
  padding: 24px;
}

.playground,
.playground__cell-container {
  border: 1px solid var(--grey-secondary);
}

/* MODAL WINDOW */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  background-color: var(--yellow);
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 4px 32px var(--black);
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  backdrop-filter: blur(8px);
  z-index: 1;
}

.form {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.form__name-block {
  display: flex;

  justify-content: space-between;
}

.form__radio-buttons {
  grid-column: 1 / span 2;
}

.form__submit {
  grid-column: 1 / span 2;
}

.form__radio-buttons-fieldset {
  border: none;

  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form__radio-container {
  display: flex;

  gap: 24px;
}

.form__start {
  grid-column: 1 / span 2;

  text-align: center;
}
